// Links
a {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px dashed var(--blue);
  padding-bottom: 1px;
  transition: color 0.2s, border-color 0.2s;
  
  &:hover {
    color: var(--orange);
    border-color: var(--orange);
  }
}

.nav-link {
  border-bottom: none;
  padding: 5px 10px;
  border-radius: 3px;
  
  &:hover {
    color: var(--orange);
  }
  
  &.active {
    color: var(--orange);
    font-weight: bold;
  }
  
  &.taxonomy-active {
    color: var(--orange);
    font-weight: bold;
  }
}

.inline-link {
  margin-left: 8px;
  color: var(--blue);
  text-decoration: none;
  border-bottom: none;
  transition: color 0.2s;
  
  &:hover {
    color: var(--orange);
  }
  
  i {
    margin-right: 6px;
  }
  
  span {
    border-bottom: 1px dashed var(--blue);
    padding-bottom: 1px;
    
    &:hover {
      border-color: var(--orange);
    }
  }
} 