{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#282828" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#fbf1c7" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="{{ get_url(path="js/theme.js") }}"></script>
    <script src="{{ get_url(path="js/main.js") }}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="container">
        <nav class="navbar rough-edge">
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="navbar-left">
                {{ macros::nav_links() }}
            </div>
            <div class="navbar-right">
                <button id="theme-toggle" class="theme-toggle">☀️</button>
            </div>
        </nav>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-close">
                <i class="fas fa-times"></i>
            </div>
            <div class="sidebar-content">
                {{ macros::nav_links() }}
            </div>
        </div>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <p>&copy; {{ now() | date(format="%Y") }} Raúl de la Fuente. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html> 