{% macro nav_links() %}
    <a href="{{ config.base_url }}" class="nav-link {% if current_path == "/" %}active{% endif %}">Home</a>
    <a href="{{ get_url(path="cv") }}" class="nav-link {% if current_path == "/cv/" %}active{% endif %}">CV</a>
    <a href="{{ get_url(path="publications") }}" class="nav-link {% if current_path == "/publications/" %}active{% endif %}">Publications</a>
    <a href="{{ get_url(path="blog", trailing_slash=true) }}" class="nav-link {% if current_path is starting_with("/blog/") %}active{% endif %}">Blog</a>
{% endmacro %} 