{% extends "tags/taxonomy_single.html" %}

{% block title %}#{{ term.name }} | {{ config.title }}{% endblock %}

{% block body_class %}taxonomy-page tag-page{% endblock %}

{% block content %}
<div class="terminal-section rough-edge">
    <div class="terminal-header">
        <span class="terminal-title">~/blog</span>
    </div>
    <div class="terminal-body">
        <p class="terminal-line">
            <span class="terminal-prompt">$</span> 
            <span class="terminal-command">find -type f -name "*.md" | xargs grep -l "#{{ term.name }}" | sort -r</span>
        </p>
        
        <div class="terminal-output">   
            {{ super() }}
        </div>
    </div>
</div>
{% endblock %} 